<h1>Universities#index</h1>
<p>Find me in app/views/universities/index.html.erb</p>
<div class="d-inline-block">
    <%= paginate @universities, window: 2 %>
</div>
<%= form_tag(result_search_index_path, method: "get", :class => 'd-inline-block', :id => 'right') do %>
    <%= label_tag(:q, "Search for Universities:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
<% end %>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th>University Name</th>
        <th>Country</th>
        <th>Website</th>
        <th>Latitude</th>
        <th>Longitude</th>
      </tr>
    </thead>
    <% @universities.each do |uni| %>
      <tr>
        <td><%=link_to uni.name, university_path(uni)%></td>
        <td><%=uni.country%></td>
        <td><%=uni.webpage%></td>
        <td><%=uni.lat%></td>
        <td><%=uni.long%></td>
      </tr>
    <%end%>
  </table>