<h1>Universities</h1>
<p>You have selected -> <%= @university.name %>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Student id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Degree</th>
        <th>Address</th>
      </tr>
    </thead>
    <% @university.students.each do |student| %>
      <tr>
        <td><%=student.id%></td>
        <td><%=student.fname%></td>
        <td><%=student.lname%></td>
        <td><%=student.degree%></td>
        <td><%=student.address%></td>
      </tr>
    <%end%>
  </table>
